!.env.example
.DS_Store
.env
.env.*
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/simple-message-board.iml
/.idea/vcs.xml
/.svelte-kit
/build
/package
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
